@import "./css/variables.less";

html {
  overflow-x: hidden;
  margin-right: calc(~"-1*(100vw - 100%)");
}
.wrap {
  width: 1100px;
  margin: 0 auto;
}
.start-title {
  margin-top: 200px;
}
.start-page {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .btn {
    width: 100px;
    margin-top: 50px;
  }
}

.btn {
  width: 40px;

  &:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
}

.input-group-append .btn, .input-group-prepend .btn {
  position: relative;
  z-index: 2;
}
.btn-outline-info.focus, .btn-outline-info:focus {
  box-shadow: none;
}
.form-control:focus,
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
label {
  margin-bottom: 0
}
.box-shadow {
  box-shadow: 0 0 10px rgba(255, 1, 1, 0.5)
}
.new__todo {
  font-size: @fontSize + 2;
  font-weight: bold;
  margin-bottom: 5px
}
.alert-success {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0.35rem 1.25rem;
}
