@import "./variables.less";

html {
  overflow-x: hidden;
  margin-right: calc(~"-1*(100vw - 100%)");
}
.wrapper {
  display: flex;
  justify-content: space-around;
  width: 1100px;
  margin: 0 auto;
  align-items: baseline;

  input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 5px;
  }

  input[type=radio] {
    transform: scale(1.5);
    margin: 0 5px 0 10px;
  }

  label {
    margin-bottom: 0
  }

  .sort {
    flex-direction: column;
    align-items: flex-start;

    .flex {
      margin: 5px 0
    }

    input[type=checkbox] {
      margin: 5px 5px 5px 0;
    }
  }
}

.todo-list {
  width: 700px;

  .new__todo {
    font-size: @fontSize + 2;
    font-weight: bold;
    margin-bottom: 0
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input {
      width: 600px;
      height: 40px;
      border-radius: @brdRadius;
      padding: 0 5px;
      margin-right: @margin - 2;

      &:focus {
        outline: none
      }
    }

    .ad__button {
      height: 40px;
    }
  }

  .tasks {
    .empty {
      font-weight: bold;
      font-size: @fontSize + 6;
      text-align: center;
    }
    .hide {
      display: none;
    }
    .show {
      display: block;
    }
  }

  .warning__message {
    color: @red;
    font-weight: bold;
    display: inline-block
  }

  .important {
    position: absolute;
    right: 0;
    display: inline-flex;
    font-weight: bold;
  }
}
.main {
  display:flex;

  h3 {
    text-align: center;
    font-size: @fontSize + 5;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    margin: @margin 0 @margin + @margin 0
  }

  .glyphicon {
    line-height: inherit;
    font-size: @fontSize + 2;
  }
}
.btn {
  font-weight: bold;
  font-size: @fontSize - 2;
  border-radius: @brdRadius;
  width: @btnWidth;

  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
  }

  &:focus {
    outline: none;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.invisible {
  display: none;
}
.box-shadow {
  box-shadow: 0 0 10px rgba(255, 1, 1, 0.5)
}
.item-highlight {
  animation: yellowfade .5s;
}
.item-background-red {
  background-color: lighten(@red, 42%);
}
.item-background-yellow {
  background-color: lighten(@yellow, 42%);
}
.message__block {
  position: relative;
  width: 600px;
  margin-top: @margin / 3;
}

@keyframes yellowfade {
  from {
    background:rgb(159, 238, 212);
  }
  to {
    background: transparent;
  }
}


.dropdown {
  position: relative;
  display: inline-block;

  &-content {
    display: none;
    position: absolute;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    width: 50px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    .border {
      border-top: 1px solid rgba(0,0,0,0.2);
      border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    a {
      padding: 2px;
      color: #000;
      cursor: pointer;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: rgba(0,0,0,0.2);
      }
    }
  }
}

.show {display:block;}
