@import "./variables.less";

.todo__list {
  list-style-position: inside;
  -webkit-padding-start: 0;
  margin-bottom: @margin * 4;
  counter-reset: list;

  .before:before {
    text-decoration: line-through;
    color: @grey - #222
  }

  .list__item {
    padding: 22px 8px;
    border-bottom: 2px double @grey;
    display: flex;
    align-items: center;
    list-style-type: none;
    position: relative;

    .date {
      font-size: 10px;
      margin-top: 5px;
      text-align: right;
    }

    &:before {
      counter-increment: list;
      content: counter(list) ". ";
      margin-right: @margin
    }

    .importance {
      margin-right: 15px;
      font-weight: bold;
      font-size: 11px;
      cursor: pointer;
    }

    .text {
      width: 380px;

      &::first-letter{
        text-transform: uppercase;
      }
    }

    .item {
      overflow-wrap: break-word;
      display: flex;
      flex-direction: column;
    }

    .finished {
      text-decoration: line-through;
      color: @grey - #222
    }

    .edit__block {
      textarea {
        resize: none;
        width: 470px;
        overflow: hidden;
        border-radius: 5px;
        box-sizing: border-box;
        min-height: 42px;
        padding: 5px;
        outline: none
      }
    }

    .edit__buttons {
      position: absolute;
      right: 8px;
    }
  }
}
