@import "./variables.less";

.navi {
  display: flex;
  justify-content: space-between;
  margin-bottom: @margin * 4;

  .btn {
    width: @btnWidth + 30;

    &-default {
      background-color: lighten(@grey, 15%);
    }
  }
}
