.list__item {
  padding: 15px 0;
  border-bottom: 2px double #ccc;
}
.list__item::first-letter {
  text-transform: uppercase;
}
.todo__list {
  list-style-position: inside;
  -webkit-padding-start: 0;
  margin-bottom: 40px
}
.select-btn {
  width: 100px;
}
