.list__item {
  padding: 15px 0;
  border-bottom: 2px double #ccc;
  display: flex;
  align-items: center;
  list-style-type: none;
  position: relative;
  height: 35px;
}
.finished::first-letter,
.unfinished::first-letter {
  text-transform: uppercase;
}
.todo__list {
  list-style-position: inside;
  -webkit-padding-start: 0;
  margin-bottom: 40px;
  counter-reset: list;
}
.select-btn {
  width: 120px;
  height: 30px;
  border-radius: 5px;
}
.list__item:before {
  counter-increment: list;
  content: counter(list) ". ";
  margin-right: 5px
}
.edit__buttons {
  position: absolute;
  right: 0;
  
  button[name=to_start] {
    background-color: #ebcb6c;
    font-weight: bold;
  }

  button[name=to_finish] {
    background-color: #3dba51;
    font-weight: bold;
  }
}
.delete {
  background-color: #d75353;
  font-weight: bold;
}
.finished {
  text-decoration: line-through;
}
p.hide {
  display: none;
}
p.show {
  display: block;
}
p[data-text=empty] {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
